@model HardDiscCapacityPostDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Capacity">Capacity</label>
                    <input type="text" asp-for="Capacity" class="form-control" placeholder="Enter Capacity">
                    <span class="text-danger" asp-validation-for="Capacity"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="CycleRate">Cycle Rate</label>
                    <input type="text" asp-for="CycleRate" class="form-control" placeholder="Enter CycleRate">
                    <span class="text-danger" asp-validation-for="CycleRate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsHDD">Create HDD</label>
                    <input asp-for="IsHDD" class="form-control">
                    <span class="text-danger" asp-validation-for="IsHDD"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsSSD">Create SSD</label>
                    <input asp-for="IsSSD" class="form-control">
                    <span class="text-danger" asp-validation-for="IsSSD"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
