@model CheckOutViewModel
@{
    ViewData["Title"] = "CheckOut";
}

<div class="container">
    <div class="order-content">
        @(Html.Partial("_OrderBasketPartial", Model.Basket))
    </div>
    @(Html.Partial("_BasketOrderPartial",Model.Order))

</div>