@using IComp.Core.Entities
@model ProcessorPostDTO
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Create</h1>
            <form method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Model">Model</label>
                    <input type="text" asp-for="Model" class="form-control" placeholder="Enter Title">
                    <span class="text-danger" asp-validation-for="Model"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoreCount">CoreCount</label>
                    <input class="form-control" asp-for="CoreCount" placeholder="Enter SubTitle">
                    <span class="text-danger" asp-validation-for="CoreCount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Count">Count</label>
                    <input class="form-control" asp-for="Count" placeholder="Enter SubTitle">
                    <span class="text-danger" asp-validation-for="Count"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input class="form-control" asp-for="Price" placeholder="Enter SubTitle">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Speed">Speed</label>
                    <input class="form-control" asp-for="Speed" placeholder="Enter SubTitle">
                    <span class="text-danger" asp-validation-for="Speed"></span>
                </div>
                <div class="form-group col-lg-3">
                    <label asp-for="ProcessorSerieId">ProcessorSerie</label>
                    <select class="form-control" asp-for="ProcessorSerieId" asp-items="@new SelectList(ViewBag.ProcSeries,nameof(ProcessorSerie.Id),nameof(ProcessorSerie.Name))">
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>