

//Fonts
/// @type List
$text-font-stack: 'Fira Sans Condensed',sans-serif;
$categ-font:'Roboto', sans-serif;

//Colors

//Home Page
/// @type Color
$home-catalog-blue: #0d7ee4;
$home-categ-price-basket-blue: #4084F1; 
$home-fast-order-red: #F87E71;
$home-part-part-pay: #4ddc71;

// Detail Page
/// @type Color
$detail-fast-order-red: #d31b1b;
$detail-part-part-pay: #42ce65;
$site-gray: #969EBA;


  