.main-navbar {
  .navbar__menu {
    padding: 10px 0px;
  }
}

.main-navbar {
  .navbar__menu-item-inner {
    display: flex;
    justify-content: start;
    .navbar__menu-item-logo {
      margin-top: 5px;
      width: 30%;
      img {
        width: 100%;
      }
    }

    .navbar__menu-item-text {
      margin-top: 5px;
      font-size: 13px;
      color: $site-gray;
    }
  }
}

.main-navbar {
  .navbar__menu-item-address {
    margin-top: 5px;
    min-width: 322px;
    .fz-16 {
      font-size: 16px;
    }
    .fz-12 {
      font-size: 12px;
      color: $site-gray;
    }
  }

  .navbar__menu-item-phone {
    min-width: 195px;
    p {
      text-align: right;
      color: $site-brown;
      transition: 0.3s;
      &:hover {
        color: $home-categ-price-basket-blue;
      }
      i {
        font-weight: 900;
        margin-right: 5px;
        color: $site-brown;
      }
    }
  }

  .navbar__menu-item-socials {
    margin-top: 10px;
    margin-left: 50px;
    min-width: 50px;

    .mg-l {
      margin-right: 5px;
    }
  }
}

.navbar__menu {
  .navbar__menu-item-basket {
    display: flex;
    justify-content: end;
    .menu-basket-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      min-height: 50px;
      background-color: $home-categ-price-basket-blue;

      .menu-basket-counter {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        right: -5px;
        top: -5px;
        font-size: 11px;
        font-weight: 900;
        border-radius: 50%;
        background-color: $counter-bg-color;
      }
      .menu-basket-icon {
        a {
          padding: 13px;
          img {
            width: 40%;
            padding: 0 0 5px 5px;
          }
        }
      }
    }
  }
}

.main-navbar{

    .searchElements{
        position: relative;
        .navbar__input{
            width: 100%;
            background-color: #f7f8fc;
            height: 46px;
            border: none;
            transition: 0.3s;
            padding-left: 40px;
            &:focus{
                background-color: #f2f2f2;
            }
        }
        .search-button{
            position: absolute;
            top: 0;
            right: 0;
            height: 46px;
            width: 50px;
            border: none;
            background-color: #f7f8fc;
            color: rgb(122, 115, 115);
        }
    }
}

@media only screen and (max-width: 1200px) {
  .main-navbar {
    .navbar__menu-item-address {
      .fz-16 {
        font-size: 13px;
      }
    }
  }
}
