.main-navbar .navbar__menu {
  padding: 10px 0px; }

.main-navbar .navbar__menu-item-inner {
  display: flex;
  justify-content: start; }
  .main-navbar .navbar__menu-item-inner .navbar__menu-item-logo {
    margin-top: 5px;
    width: 130px; }
    .main-navbar .navbar__menu-item-inner .navbar__menu-item-logo img {
      width: 100%; }
  .main-navbar .navbar__menu-item-inner .navbar__menu-item-text {
    margin-top: 5px;
    font-size: 13px;
    color: #969EBA; }

.main-navbar .navbar__menu-item-address {
  margin-top: 5px;
  min-width: 322px; }
  .main-navbar .navbar__menu-item-address .fz-16 {
    font-size: 16px; }
  .main-navbar .navbar__menu-item-address .fz-12 {
    font-size: 12px;
    color: #969EBA; }

.main-navbar .navbar__menu-item-phone {
  min-width: 195px; }
  .main-navbar .navbar__menu-item-phone p {
    text-align: right;
    color: #333;
    transition: 0.3s; }
    .main-navbar .navbar__menu-item-phone p:hover {
      color: #4084F1; }
    .main-navbar .navbar__menu-item-phone p i {
      font-weight: 900;
      margin-right: 5px;
      color: #333; }

.main-navbar .navbar__menu-item-socials {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
  min-width: 50px; }
  .main-navbar .navbar__menu-item-socials .mg-l {
    margin-right: 5px; }

.navbar__menu .navbar__menu-item-basket {
  display: flex;
  justify-content: end; }
  .navbar__menu .navbar__menu-item-basket .menu-basket-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background-color: #4084F1; }
    .navbar__menu .navbar__menu-item-basket .menu-basket-box .menu-basket-counter {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      right: -5px;
      top: -5px;
      font-size: 11px;
      font-weight: 900;
      border-radius: 50%;
      background-color: #f9ba48; }
    .navbar__menu .navbar__menu-item-basket .menu-basket-box .menu-basket-icon a {
      padding: 13px; }
      .navbar__menu .navbar__menu-item-basket .menu-basket-box .menu-basket-icon a img {
        width: 40%;
        padding: 0 0 5px 5px; }

.main-navbar .searchElements {
  position: relative; }
  .main-navbar .searchElements .navbar__input {
    width: 100%;
    background-color: #f7f8fc;
    height: 46px;
    border: none;
    transition: 0.3s;
    padding-left: 40px; }
    .main-navbar .searchElements .navbar__input:focus {
      background-color: #f2f2f2; }
  .main-navbar .searchElements .search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    width: 50px;
    border: none;
    background-color: #f7f8fc;
    color: #7a7373;
    transition: 0.2s; }
    .main-navbar .searchElements .search-button:hover {
      background-color: #e9ebf0; }

.main-navbar .main-navbar__catalog-box-inner {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 46px;
  cursor: pointer;
  background-color: #0d7ee4; }
  .main-navbar .main-navbar__catalog-box-inner .catalog-text {
    display: flex;
    width: 70%;
    padding: 0px 0px 0px 35px;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff; }

.main-navbar .main-navbar__catalog-box {
  position: relative;
  width: 300px; }
  .main-navbar .main-navbar__catalog-box .main-navbar__hamburger {
    display: none; }
  .main-navbar .main-navbar__catalog-box .main-navbar__catalog-menu {
    position: absolute;
    display: none;
    top: 45px;
    left: 0;
    width: 100%; }
    .main-navbar .main-navbar__catalog-box .main-navbar__catalog-menu .catalog-menu-item a {
      display: block;
      width: 100%;
      padding: 10px 0px 10px 20px;
      color: #333; }
      .main-navbar .main-navbar__catalog-box .main-navbar__catalog-menu .catalog-menu-item a:hover {
        color: #4084F1; }
      .main-navbar .main-navbar__catalog-box .main-navbar__catalog-menu .catalog-menu-item a img {
        width: 10%;
        margin-right: 15px; }
  .main-navbar .main-navbar__catalog-box .show {
    display: block; }

.main-navbar .dropdown-list .catalog-menu-item {
  position: relative; }
  .main-navbar .dropdown-list .catalog-menu-item:hover .main-navbar__sub-catalog-menu {
    visibility: visible; }
  .main-navbar .dropdown-list .catalog-menu-item .main-navbar__sub-catalog-menu {
    visibility: hidden;
    min-width: 200px;
    position: absolute;
    left: 299px;
    top: 0; }

.main-navbar .sub-catalog-menu-item {
  border: 1px solid; }

@media only screen and (max-width: 1200px) {
  .main-navbar .navbar__menu-item-address .fz-16 {
    font-size: 13px; } }

@media only screen and (max-width: 992px) {
  .main-navbar .navbar__menu-item .navbar__menu-item-text {
    display: none; }
  .main-navbar .navbar__menu-item .navbar__menu-item-address {
    display: none; }
  .main-navbar .navbar__menu-item .navbar__menu-item-phone {
    display: none; }
  .main-navbar .navbar__menu-item .navbar__menu-item-socials {
    display: none; }
  .main-navbar .main-navbar__catalog-box .main-navbar__catalog-box-inner {
    display: none; }
  .main-navbar .main-navbar__catalog-box .main-navbar__hamburger {
    height: 46px;
    display: block; }
    .main-navbar .main-navbar__catalog-box .main-navbar__hamburger img {
      padding: 10px; }
  .main-navbar .main-navbar__mobile {
    position: relative;
    padding: 10px 10px 10px 0;
    background-color: #4084F1; }
    .main-navbar .main-navbar__mobile .main-navbar__mobile-menu {
      position: absolute;
      width: 60%;
      left: 0;
      bottom: -50px;
      border: 1px solid;
      transition: all 0.7s ease-in-out; }
    .main-navbar .main-navbar__mobile .deactive {
      transform: translateX(-525px);
      opacity: 0; }
    .main-navbar .main-navbar__mobile .active {
      transform: translateX(0px);
      opacity: 1; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

p, a, b, span, h1, h2, h3, h4, h5, h6, select, input, textarea, button, label, div {
  font-family: "Fira Sans Condensed", sans-serif; }

textarea:focus, input:focus {
  outline: none; }
