.paginatoin-area {
  padding: 20px 0 18px;
  border: 1px solid #e5e5e5;
  text-align: center;
}
.paginatoin-area .pagination-box li {
  display: inline-block;
  margin-right: 10px;
}
.paginatoin-area .pagination-box li a {
  color: #333333;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  line-height: 37px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.paginatoin-area .pagination-box li a:hover {
  color: #fff;
  border-color: #e3a51e;
  background-color: #e3a51e;
}
.paginatoin-area .pagination-box li.active a {
  color: #fff;
  border-color: #e3a51e;
  background-color: #e3a51e;
}

.filter-input{
  display: none;
  overflow: hidden;
  padding: 10px 0px 10px 20px;
}
.filter-title{
  cursor: pointer;
  position: relative;
  border-top: 1px solid;
  padding: 10px 10px 10px 20px;
  i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  h2{
    font-size: 17px;
    font: bold 15px "Open Sans", sans-serif;
  }
}
