#main-home-page {
  .contentWrap {
    background-color: #f8f8f9;
    padding: 20px 0px;
  }
}

// Blogs
.blog-tags {
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.blog-tags a {
  display: inline-block;
  border: 1px solid;
  padding: 5px 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 4px;
  background-color: whitesmoke;
  &:hover {
    background-color: $home-categ-price-basket-blue;
    color: white;
  }
}

.home-slider {
  padding-bottom: 40px;
}

//Brands
.popular-brands {
  background-color: white;
  padding: 30px;
  .popular-brands__box {
    display: flex;
    justify-content: space-between;
    .box-item {
      width: 12%;
      height: 70px;
      a {
        display: block;
        height: 100%;
        width: 150px;
        position: relative;
        overflow: hidden;
        background: #fff;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.popular-brands__box {
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
}

//Categories
.content-heading {
  margin: 30px 0px;
  h2 {
    font-size: 25px;
    color: #333;
    font: 700 24px "Open Sans", sans-serif;
  }
}
.popular-categories__content {
  .popular-categories__list {
    padding: 20px;
    background-color: #eef1f6;
    .popular-categories-item {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 60%;
          text-align: center;
        }
        .category-name {
          background-color: $home-catalog-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 130px;
          height: 40px;
          color: white;
          margin-top: 20px;
        }
      }
    }
  }
}

//Product
.new-products-inner {
  background-color: white;
  .new-products__item-card {
    padding: 20px;
    .item__card-header {
      margin: 20px 0px;
      .product-photo {
        height: 180px;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .product-title {
        margin-top: 15px;
        a {
          color: black;
        }
      }
    }
    .item__card-body {
      .product-price {
        margin: 10px 0px;
        font-size: 25px;
        font-family: "Fira Sans Condensed", sans-serif;
        color: $home-categ-price-basket-blue;
      }
    }
  }
}

//services
.services {
  .contentWrap {
    background-color: white;
  }
}

.services-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: 20px 0px;
  .line {
    position: absolute;
    right: -15px;
    height: 70px;
    width: 1px;
    background-color: #e4e4e4;
  }
  .services__icon {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .expand{
    padding: 60px 0px;
  }
}
