.product-detail-box{
    .product-detail-price{
        font-size: 35px;
        font-weight: 900;
        padding: 20px 0px;
        color: $home-categ-price-basket-blue;
    }
    .product-detail-features{
        padding: 0px 0px 20px 0px;
    }
}