@model AppUserLoginPostDto

<form method="post" asp-action="Login" asp-controller="Account" enctype="multipart/form-data" id="loginForm">
    <div class="form-group">
        <label asp-for="UserName" style="font-size: 25px;">UserName</label>
        <input asp-for="UserName" class="form-control" id="inputUsername" placeholder="Enter UserName">

    </div>
    <div class="form-group">
        <label asp-for="Password" style="font-size: 25px;">Password</label>
        <input asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label asp-for="IsPersistent" class="form-check-label"><input asp-for="IsPersistent" type="checkbox"> Remember me</label>
        <span class="text-danger error-msg-box"></span>
    </div>
    <div class="d-flex justify-content-between" style="max-width:200px;">
        <a asp-action="register" asp-controller="account" class="">Qeydiyyat</a>
        <a asp-action="forgotpassword" asp-controller="account">Şifrəmi yenilə</a>
    </div>
    <button type="submit" class="btn btn-info" id="loginSubmit">Daxil ol</button>
</form>