@model AppUserLoginPostDto

<form method="post" asp-action="Login" asp-controller="Account" enctype="multipart/form-data" id="loginForm">
    <div class="form-group">
        <label asp-for="UserName" style="font-size: 25px;">UserName</label>
        <input asp-for="UserName" class="form-control" id="inputUsername" placeholder="Enter UserName">

    </div>
    <div class="form-group">
        <label asp-for="Password" style="font-size: 25px;">Password</label>
        <input asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
        <span class="text-danger error-msg-box"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="loginSubmit">Sign in</button>
</form>